In [ ]:
#Notes File(Refer after recordings): https://docs.google.com/document/d/1kYJaYewuJZxqWVLxru8fDyrnUn45TbVp_ZVNyXB_YeA/edit?usp=sharing

Who invented Python?
- Guido van Rossum, in 1991.

What is Python?
- programming language: mediator between the programmer and a machine.
- high-level language: human readable code
- case-sensitive: "A" and "a" are different
- interpreter language: reads code line by line

Why Python?
- Easy to learn
- Simple Syntax, english-like
- User Friendly
- Large library domain
- Open-Source

Where do we use Python?
- Web Development
- Application Development
- AI/ML
- Automation
- Game Building

In [ ]:
#Introduction to python
print("Hello Learners!") #print: show something on the screen

Hello Learners!

##VARIABLES:
- containers that store your data

**Variable Naming Conventions**
- a variable name must start with a letter or _.
- a variable name cannot begin with a digit.
- a variable cannot have whitespaces.
- a variable name cannot be a keyword

In [ ]:
a=10
print(a)

_Sri=20
print(_Sri)

# 4b=30
# print(4b)

a b=40
print(a b)

##DATA TYPES:
- defines the kind of value a variable can hold

**TYPES**
- integer
- float
- string
- boolean

In [ ]:
#Integer : non-decimal value
a=0
print("Integer value:",a) #comma: concatenates

#Float : decimal value
b=10.234
print("Float value: ", b)

#String
greet="Hi, I am a Learner!123#$%"
print("String value:", greet)

#Boolean : True/False : non-zero/0
light_on=False
print("Is the light on?", light_on)

In [ ]:
#Type-Casting: change/convert the data type of a variable forcefully
light_on2=0.1 #int
print("Is the light on?", bool(light_on2)) #changing to boolean, and 0 =False

a=10.345
print(int(a))

b=200
print(float(b))

c=10/3
print(c)

In [ ]:
#Type function: tells you the data type of a variable
a=100
b="100"
print(a, type(a))
print(b, type(b))

##OPERATORS
- special symbols that perform operations on values(operands)
- Arithmetic
- Exponential
- Comparison
- Logical
- Assignment

In [ ]:
#Arithmetic

#addition
v1=100
v2=20
print(v1+v2)

In [ ]:
#subtraction
print(v1-v2)

In [ ]:
#multiplication
a=4
b=2
print(a*b)

In [ ]:
#division (/) : exact float value
c=11
d=2
print(c/d)

In [ ]:
#floor division (//) : integer value
print(c//d)

In [ ]:
#modulus (%) : gives the remainder
print(c%d)

In [ ]:
#Exponential :  a to the power b (a**b)

b1=2
b2=4
print(b1**b2) #2*2*2*2=16

In [ ]:
#Comparison : Boolean Output

a=23
b=50
print(a==b) #(a is equal to b) 23 = 50? False

In [ ]:
print(a!=b) #(a is not equal to b) 23 not equal to 50? True

In [ ]:
print(a<b) # 23 < 50? yes

In [ ]:
print(a>b) # 23 > 50? no

NameError: name 'a' is not defined

In [ ]:
c=50
print(a<=b) #23 < or equal to 50? True
print(c<=b) #50 < or equal to 50? True

In [ ]:
print(a>=b)

In [ ]:
#Alisha's query:

a=True #boolean
b=False #boolean
print(a+b) #arithmetic operator(+), a(true)=1, b(false)=0

In [ ]:
#Logical Operators  : not, and ,or

#AND both conditions need to be true, final output : true
var1=True
var2=True
print(var1 and var2)

In [ ]:
var1=True
var2=False
print(var1 and var2)

In [ ]:
var1=False
var2=False
print(var1 and var2)

In [ ]:
#OR : any one condition = True, final output: true
var1=True
var2=True
print(var1 or var2)

In [ ]:
var1=True
var2=False
print(var1 or var2)

In [ ]:
var1=False
var2=False
print(var1 or var2)

In [ ]:
#NOT : reverses the input

a=True
print(not a)

b=False
print(not b)

In [ ]:
#Assignments Operators

var1=34
print(var1)

In [ ]:
var3=7
var3+=3 #var3 = var3 + 3
print(var3)

In [ ]:
var3-=3 #var3 = var3 - 3
print(var3)

In [ ]:
var3*=2 #var3 = var3 * 2
print(var3)

In [ ]:
var3/=2 #var3 = var3 / 2
print(var3)

In [ ]:
b=10
b//=2
print(b)

In [ ]:
a=10
a/=2
print(a)

a//=2
print(a)

In [ ]:
c=10
c%=3 # c=c%3
print(c)

1. Assign two numbers and print their arithmetic answers(operators).
2. Convert a float value to an integer value.
3. Take two variables (one as true and one as false), and give the output of: ((var1 or var2) and (not var2))

In [ ]:
1. # Assign two numbers
num1 = 10
num2 = 3
# Addition
print("Addition:", num1 + num2)  # Output: Addition: 13
# Subtraction
print("Subtraction:", num1 - num2)  # Output: Subtraction: 7
# Multiplication
print("Multiplication:", num1 * num2)  # Output: Multiplication: 30
# Division
print("Division:", num1 / num2)  # Output: Division: 3.3333333333333335
# Modulus
print("Modulus:", num1 % num2)  # Output: Modulus: 1
# Exponentiation
print("Exponentiation:", num1 ** num2)  # Output: Exponentiation: 1000
# Floor division
print("Floor division:", num1 // num2)  # Output: Floor division: 3

In [ ]:
#f-string(format-string): a way of printing things

In [ ]:
#2.
a=100.86
print(f"{a} is a float value which is typecasted to {int(a)}")
print(a,"is a float value which is typecasted to",(int(a)))

print(a,'X',2,'=',a*2)
print(f"{a} X 2 = {a*2}")

In [ ]:
#3.
#Priority(Operator Precendence)
#1. brackets
#2. Not
#3. And
#4. Or
var1=True
var2=False
print((var1 or var2) and (not var2))#output is True

#Sequential Data Types: indexing
- can store multiple data type of values

**Types**:
- list
- tuple
- strings

In [ ]:
#List []:  ordered, mutable(can be modified), duplicates allowed

l1=['Shifa','12','Nayan',12,12,23,45,56.23,89.10,True,False]
#     0        1      2      3  4  5   6      7   8    9

print(l1, type(l1))
print(l1[2], type(l1[2]))
print(len(l1)) #gives the length

In [ ]:
#      -6     - 5    -4     -3  -2  -1
l2=['harsh','rustam',12,'harsh',4.6,True]
#     0        1     2    3      4    5

print(len(l2))
print(l2[1])
print(l2[-4])

In [ ]:
print(l2.index('harsh')) # gives the index of a value

In [ ]:
l2[3]=50 #modified 12 to 50
print(l2)

In [ ]:
l2.append("India") #adds a value at the end of the list
print(l2)

In [ ]:
l2.insert(1,'Laasya') #inserts value at a given index
print(l2)

In [ ]:
print(l2.index(50))
l2.pop(4) #deletes value at a given index

In [ ]:
print(l2)

In [ ]:
l2.pop() #by default: removes last element
print(l2)

In [ ]:
l2.remove('harsh') #delete element using value
print(l2)

In [ ]:
ls=[1,2,3,1,2,3,1,2,3,3,4,2,1,3]
print(len(ls))
print(ls.count(3)) #number of occurences of a value

In [ ]:
#Tuples (): ordered, immutable(can't be modified), duplicates allowed
#index,count

t1=('Nikhil',155,80.34,True)
print(t1, type(t1))

In [ ]:
print(t1[1])
print(t1[-2])

In [ ]:
t1[1]='Python'
print(t1)

In [ ]:
#Slicing: getting a part of something [start:end+1]
a=['a','b','c','d','e']
print(a[1:4],a[1:])

print(a[::3])
print(a[::-2])
print(a[0:1:2])

In [ ]:
b=['Aisha','Aashika','Laasya']
print(b[::1])
print(b[:], b[0:], b[::])

In [ ]:
#String : ordered, immutable(can't be modified), duplicates allowed

s="Rajalakshmi"
print(s)

In [ ]:
print(len(s))
s[3]='Y'
print(s)

In [ ]:
C=list(s)
C[3]='Y'
print(C)
str(C)

In [ ]:
a='Aisha',123 #if multiple values are given to a variable, by default they're clubbed inside a tuple
print(a)

In [ ]:
s1="Hi "
s2="Learners! :)"
s3=s1+s2 #concatenating strings
print(s3)

In [ ]:
print(s3.upper()) #changes to uppercase

In [ ]:
print(s3.lower())

In [ ]:
print(s3.capitalize()) #Capitalizes first letter

In [ ]:
b= " Aisha "
print(b.strip()) #removes whitespaces from both ends

#Non-Sequential Datatypes
- Unordered, no indexing

**Types**
- Sets
- Dictionary

In [ ]:
#Set {}: unordered, immutable(can't be modified), duplicates are not allowed

s1={1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5}
print(s1, type(s1))

In [ ]:
s2={'Krish','Raju','Hyndhavi',12,34,25.65}
print(len(s2))

In [ ]:
s2[1]='Sagar'
print(s2)

In [ ]:
#add an element
s2.add('Nayan')
print(s2)
s2.add('Harsh')
print(s2)

In [ ]:
#Remove a specific value, value is not in the set,it gives an error
s2.remove(100)
print(s2)

In [ ]:
s2.discard(100) #removes a value, value is not in the set, it doesn't give error

In [ ]:
s2.pop() #unordered, removes element randomly

In [ ]:
s2.clear()

In [ ]:
print(s2)

In [ ]:
s4={1,2,3}
s5={3,4,5}

#Union
print(s4.union(s5))

#Intersection
print(s5.intersection(s4))

#Difference
print(s4.difference(s5))
print(s5.difference(s4))

#Symmetric Difference : Opposite of Intersection
print(s4.symmetric_difference(s5))

{1, 2, 3, 4, 5}
{3}
{1, 2}
{4, 5}
{1, 2, 4, 5}

In [ ]:
#Dictionary: unordered collection of key-values pairs
#each key is unique, and used to access its associated value

dict1={
    'Name':'Gaurav',
    'Age': 26,
    'Course':'Data Science'
    }

print(dict1, type(dict1))

In [ ]:
print(dict1.keys()) #gives all the keys

In [ ]:
print(dict1.values()) #gives all the values

In [ ]:
print(dict1.items()) #gives me the key value pair

In [ ]:
print(dict1.get("Name")) #gives me the values of associated key
print(dict1.get("Course"))

In [ ]:
dict1.update({"ID":"ABC1","Contact":12345,"Country":"India",'Marks':90})
print(dict1)

In [ ]:
dict1.pop("Course") #deletes values using certain key
print(dict1)

In [ ]:
dict1['Marks']=95
print(dict1)

In [ ]:
dict1.clear()
print(dict1)

In [ ]:
#Nested dictionary
#madhan,krish,ashlesha
students={
    "ABC1":{
        "name":"Madhan",
        "age":20,
        "marks":85
        },
    "ABC2":{
        "name":"Krish",
        "age":21,
        "marks":90
    },
    "ABC3":{
        "name":"Ashlesha",
        "age":19,
        "marks":78
    }
}

print(students)
print(students['ABC3']['name'])

{'ABC1': {'name': 'Madhan', 'age': 20, 'marks': 85}, 'ABC2': {'name': 'Krish', 'age': 21, 'marks': 90}, 'ABC3': {'name': 'Ashlesha', 'age': 19, 'marks': 78}}
Ashlesha

In [ ]:
#INPUT FUNCTION : gets input/data from the user

v=input("Enter your name: ") #by default: string
print(v)

In [ ]:
age=int(input("Enter age: "))
print(age)

1. Create a list and apply all the functions on it.
2. Create a tuple and apply all the functions on it.
3. Perform Typecasting to change 170 to float and string.

In [ ]:
a=[10,20,30,40]
print(a)
a.append(50)
print(a)
a.insert(2,25)
print(a)
a.extend([70,80])
print(a)
a.remove(25)
print(a)
a.pop()
print(a)
a.reverse()
print(a)
a.sort(reverse=True)
print(a)
a.clear()
print(a)

In [ ]:
a=('Aisha',23,56.0,23,23,23)
print(a.index("Aisha"))
print(a.count(23))

In [ ]:
a=170
print("Float of a",float(a),"String of a",str(a))

#Conditional Statements

In [ ]:
#Decision Making Statements

#If-else
age=int(input("Enter your age: "))

if(age>=18):
  print(f"Person is {age} years old hence why eligible to vote.")
else:
  print(f"Person is {age} years old hence why ineligible to vote.")

In [ ]:
#If-elif-else

age=int(input("Enter your age: "))

if(age>=18 and age < 45):
  print(f"Person is {age} years old hence why eligible to vote.")
elif(age>=45):
  print(f"Person is {age} years old hence why eligible to vote twice.")
else:
  print(f"Person is {age} years old hence why ineligible to vote.")

#Looping statements

In [ ]:
#FOR : runs till the range
#Range function : (start:end+1:step), step=optional

for i in range(1,10):
  print(i)

In [ ]:
for i in range(10,0,-1):
  print(i)

In [ ]:
#WHILE : runs till a condition is satisfied

a=10
while(a>=1):
  print(a)
  a-=1

In [ ]:
a=1
while(a<=5):
  a+=1
  print(a)

In [ ]:
#For : range

customers=['Laasya','Mohan','Alisha','Sandhya','Varshith','Ashwini','Madhav']

for name in customers:
  print(f"{name} is a customer! :)")

In [ ]:
#While : condition

Pin="1234"
attempts=0

while attempts < 3:
  p=input("Enter your PIN: ")
  if p == Pin:
    print("Access granted!")
    break
  else:
    print("Incorrect PIN")
    print("Attempts :" ,attempts+1)
    attempts+=1

if attempts==3:
  print("CARD BLOCKED! too many attempts.")

#Control Statements

In [ ]:
#break : stops the loop forcefully

i=1
while(i<=10):
  if i == 5:
    break
  print(i)
  i+=1

In [ ]:
#Continue : skips the current iteration and goes to the next

i=0
while(i<10):
  i+=1
  if i == 5:
    continue
  print(i)

In [ ]:
#Pass : placeholder for code

a=1
if(a==1):
  pass

print(a)

#Functions:
- block of code that performs a specific task
- used for code reusability

In [ ]:
def Greet(): #Function declaration
  print("Hi Learners! :)") #Function definition
Greet() #Function call

In [ ]:
#return: used to exit a function and return a value that can be assigned to a variable or used in any expression
#display: only shows the output, can't be used to get/store data and perform functions on it

In [ ]:
#Type1: no return, no parameter

def type1():
  print("Type 1 function")
type1()

In [ ]:
#Arguments: values given at the time of function call
#Parameters: variables that store the values passed through arguments

In [ ]:
#Type2: no return, with parameter

def type2(a,b): #a=2, b=3 : parameters
  print(a+b)
type2(2,3) #arguments

In [ ]:

a=int(input("Enter first number: ")) #a=3
b=int(input("Enter second number: ")) #b=4

def Sum(a1,b1): #a1=3, b1=4
  print(f"Sum of {a1} and {b1} is {a1+b1}")
Sum(a,b) #parameters

In [ ]:
#Type3: with return, no parameter

def type3():
  return "Aisha"
type3()
# name=type3()
# print(name)

In [ ]:
#Type4: with return, with parameter

def type4(a): #3. parameter
  return a  #4. return value

name=input("Enter name") #1. user input
type4(name) #2. argument

#HANDS-ON Questions

#Basic Billing System

**TASK**
- Ask the user how many products they want to enter
- For each product, input name and price
- store in a dictionary
- Write a function "generate_bill(items_dict)" that:
  - prints each item and price
  - calculates and prints total bill

In [ ]:
def generate_bill(items_dict): #parameter
  total= 0
  for item, prices in items_dict.items():
    print(f"{item}:{price}")
    total+=price
  print("Total Bill Generated: ", total)

items={}

n=int(input("How many products do you want?"))

for i in range(n):
  name=input("Enter product name: ")
  price= float(input("Enter price"))
  items[name]=price

generate_bill(items) #argument

#Student Report Generator:

- Write a program that:
  - take names and marks of 5 students as input
  - store them in a dictionary
  - calculate the average
  - prints:
     - "pass" if marks>=40
     - "fail" otherwise
  - use a function "print_result(name, mark)" to display the result
  for each student.

In [ ]:
def print_result(name,mark):
  if mark >= 40:
    print("Pass")
  else:
    print("Fail")

students={}

for i in range(5):
  n=input("Enter student name: ")
  m=int(input(f"Enter {n}'s marks: "))
  students[n]=m

total=0

for na in students:
  ma=students[na]
  total+=ma
  print_result(na,ma)

avg=total/5
print(f'Average marks: {avg}')

Enter student name: a
Enter a's marks: 34
Enter student name: f
Enter f's marks: 70
Enter student name: h
Enter h's marks: 90
Enter student name: n
Enter n's marks: 24
Enter student name: b
Enter b's marks: 67
Fail
Pass
Pass
Fail
Pass
Average marks: 57.0

In [ ]:
def print_result(name, mark):
    if mark >= 40:
        print(f"{name}: {mark} - Pass")
    else:
        print(f"{name}: {mark} - Fail")

# Take input and store in dictionary
students = {}
for i in range(5):
    name = input(f"Enter the name of student {i+1}: ")
    mark = int(input(f"Enter the mark of {name}: "))
    students[name] = mark

# Calculate average
average = sum(students.values()) / len(students)
print(f"\nAverage Marks: {average}\n")

# Display result using the function
for name, mark in students.items():
    print_result(name, mark)

Enter the name of student 1: Krish
Enter the mark of Krish: 90
Enter the name of student 2: A
Enter the mark of A: 45
Enter the name of student 3: B
Enter the mark of B: 70
Enter the name of student 4: C
Enter the mark of C: 37
Enter the name of student 5: D
Enter the mark of D: 78

Average Marks: 64.0

Krish: 90 - Pass
A: 45 - Pass
B: 70 - Pass
C: 37 - Fail
D: 78 - Pass