# Given a sample list,tuple,set with elements as numbers from1-10.Convert each of the data types into a pandas series.Create a seperate list of index values for the series.

In [ ]:
import pandas as pd

In [ ]:
li=[1,2,3,4,5,6,7,8,9,10]
tu=(1,2,3,4,5,6,7,8,9,10)
se={1,2,3,4,5,6,7,8,9,10}
ind=['a','b','c','d','e','f','g','h','i','j']

In [ ]:
#list to series
ser=pd.Series(li,index=ind)

In [ ]:
ser

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [ ]:
#tuple to series
se1=pd.Series(tu,index=ind)

In [ ]:
se1

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [ ]:
#set to series
se3=pd.Series(list(se),index=ind)

In [ ]:
se3

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

# Create a python dictionary with three key value pairs.Keep the first name as key and the respective last name as values in the dictionary.Convert the dictionary into a series.

In [ ]:
dict1={'Vinay':'Koppad','niket':'yadav','Bala':'Vignesh','Bat':'Man'}

In [ ]:
ser=pd.Series(dict1,name='last name')

In [ ]:
ser
#the keys will become your index and values will be the values

Vinay     Koppad
niket      yadav
Bala     Vignesh
Bat          Man
Name: last name, dtype: object

Create a pandas series, with the elemnts as numbers from 1-10.Use the index values starting from 0-9.For the above seires:

a.Conver it to a list

b.convert it to a dictionary

c.Convert it to a tuple

d.Convert it to a set

In [ ]:
ser=pd.Series([1,2,3,4,5,6,7,8,9,10])
ser

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
#a.Conver it to a list
li=list(ser)

In [ ]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#b.convert it to a dictionary
dic=dict(ser)

In [ ]:
dic

{0: np.int64(1),
 1: np.int64(2),
 2: np.int64(3),
 3: np.int64(4),
 4: np.int64(5),
 5: np.int64(6),
 6: np.int64(7),
 7: np.int64(8),
 8: np.int64(9),
 9: np.int64(10)}

In [ ]:
#c.Convert it to a tuple
tu=tuple(ser)

In [ ]:
tu

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
#d.Convert it to a set
se=set(ser)

In [ ]:
se
#We cannot convert set into a series but vice versa is possible.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Create a sample pandas serie with x integer elements.Perform the following operations:

a.Print the first elements of the series.

b.Print the last 5 elements of the series.

c.Insert an integer value 50 at the index 5.

d.Update the last element in the series with the value 100.

e.Delete the first element from the series.

In [ ]:
ser=pd.Series([11,22,33,44,55,66,77,88,99,110])
ser

0     11
1     22
2     33
3     44
4     55
5     66
6     77
7     88
8     99
9    110
dtype: int64

In [ ]:
#a.Print the first elements of the series.
ser.head()

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [ ]:
#b.Print the last 5 elements of the series.
ser.tail()

5     66
6     77
7     88
8     99
9    110
dtype: int64

In [ ]:
#c.Insert an integer value 50 at the index 5.
ser[5]=50

In [ ]:
ser

0     11
1     22
2     33
3     44
4     55
5     50
6     77
7     88
8     99
9    110
dtype: int64

In [ ]:
#d.Update the last element in the series with the value 100.
ser[9]=100

In [ ]:
ser

0     11
1     22
2     33
3     44
4     55
5     50
6     77
7     88
8     99
9    100
dtype: int64

In [ ]:
#e.Delete the first element from the series.
ser=ser.drop(0)

In [ ]:
ser
ser=ser.reset_index(drop=True)

In [ ]:
ser

0     22
1     33
2     44
3     55
4     50
5     77
6     88
7     99
8    100
dtype: int64

For the given series A and B perfrom the concatenation on the same.series_A=pd.Series([1,2,3,4,5]) and series_B=pd.Series([6,7,8,9,10]).

In [ ]:
series_A=pd.Series([1,2,3,4,5])
series_B=pd.Series([6,7,8,9,10])
series_A

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
series_B

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [ ]:
merger_ser=pd.concat([series_A,series_B],ignore_index=True)

In [ ]:
merger_ser

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Create a pandas Dataframe with two columns=['Name','Age'].Perform the following operation:

a.Print the first 3 rows of the Dataframe.

b.Print thr rows that have age greater than 15.

c.Insert 5 imaginary names and ages as values in the dataframe.

d.Update the 5th row so that the name=john and age=56.

e.Delete the first row from the dataframe.

In [ ]:
dict1={'Name':['Supriya','Shagnik','Bala','Shubham','Sanjay'],'Age':[20,22,15,28,13]}
df=pd.DataFrame(dict1)

In [ ]:
df

      Name  Age
0  Supriya   20
1  Shagnik   22
2     Bala   15
3  Shubham   28
4   Sanjay   13

In [ ]:
#a.Print the first 3 rows of the Dataframe.
df.head(3)

      Name  Age
0  Supriya   20
1  Shagnik   22
2     Bala   15

In [ ]:
#b.Print thr rows that have age greater than 15.
df[df.Age>15]

      Name  Age
0  Supriya   20
1  Shagnik   22
3  Shubham   28

In [ ]:
#c.Insert 5 imaginary names and ages as values in the dataframe.
df2=pd.DataFrame({'Name':['Harsh','Sejal','Sindhu','Radha','Priya'],'Age':[10,20,30,26,15]})

In [ ]:
df2

     Name  Age
0   Harsh   10
1   Sejal   20
2  Sindhu   30
3   Radha   26
4   Priya   15

In [ ]:
df=pd.concat([df,df2],ignore_index=True)

In [ ]:
df

      Name  Age
0  Supriya   20
1  Shagnik   22
2     Bala   15
3  Shubham   28
4   Sanjay   13
5    Harsh   10
6    Sejal   20
7   Sindhu   30
8    Radha   26
9    Priya   15

In [ ]:
#d.Update the 5th row so that the name=john and age=56.
df.loc[4,'Name']='John'
df.loc[4,'Age']=56

In [ ]:
df

      Name  Age
0  Supriya   20
1  Shagnik   22
2     Bala   15
3  Shubham   28
4     John   56
5    Harsh   10
6    Sejal   20
7   Sindhu   30
8    Radha   26
9    Priya   15

In [ ]:
#e.Delete the first row from the dataframe.
df=df.drop(0)
df=df.reset_index(drop=True)

In [ ]:
df

      Name  Age
0  Shagnik   22
1     Bala   15
2  Shubham   28
3     John   56
4    Harsh   10
5    Sejal   20
6   Sindhu   30
7    Radha   26
8    Priya   15

Create a Dataframe with columns Name and Age.Perform the following operation:

a.Write the sample code to search for the Name where age is 20.

b.Sort the dataframe in ascending order by ages.

c.Using loops,print the ages from the dataframe and store it in a set.

In [ ]:
df

      Name  Age
0  Shagnik   22
1     Bala   15
2  Shubham   28
3     John   56
4    Harsh   10
5    Sejal   20
6   Sindhu   30
7    Radha   26
8    Priya   15

In [ ]:
#a.Write the sample code to search for the Name where age is 20.
df[df['Age']==20]

    Name  Age
5  Sejal   20

In [ ]:
#b.Sort the dataframe in ascending order by ages.
df=df.sort_values(by='Age')

In [ ]:
df

      Name  Age
4    Harsh   10
1     Bala   15
8    Priya   15
5    Sejal   20
0  Shagnik   22
7    Radha   26
2  Shubham   28
6   Sindhu   30
3     John   56

In [ ]:
#c.Using loops,print the ages from the dataframe and store it in a set.
se=set()
for i in df['Age']:
  print(i)
  se.add(i)
print(se)

10
15
15
20
22
26
28
30
56
{10, 15, 20, 22, 56, 26, 28, 30}

In [ ]:
import numpy as np
import seaborn as sns

In [ ]:
df=sns.load_dataset('titanic')

In [ ]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [ ]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

1.How to find all the female passenger

2.How many total passenger are in the dataset?

3.How many male passenger were on board?

4.Find the average age of all passenger?

In [ ]:
#1.How to find all the female passenger
df[df['sex']=='female']

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

In [ ]:
#2.How many total passenger are in the dataset?
len(df)

891

In [ ]:
#3.How many male passenger were on board?
df[df['sex']=='male'].shape[0]

577

In [ ]:
#4.Find the average age of all passenger?
df['age'].mean()

np.float64(29.69911764705882)

1.Find the youngest passenger on the titanic?

2.Find the oldest passenger on the titanic?

3.Find how many passengers are in each class(1,2,3)?

4.How many passengers survived?

In [ ]:
#1.Find the youngest passenger on the titanic?
youngest_age=df['age'].min()
#print(youngest_age[['name','age']])

0.42

In [ ]:
#2.Find the oldest passenger on the titanic?
df['age'].max()

80.0

In [ ]:
#3.Find how many passengers are in each class(1,2,3)?
df['pclass'].value_counts()

pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [ ]:
#4.How many passengers survived?
df['survived'].value_counts()[1]

np.int64(342)